body {
  margin: 0;
  text-align: center;
  background-color: #2E2E2E;
  font-family: Arial, Helvetica, sans-serif;
}
/* #2E2E2E */
.my-card p {
    color: white;
    font-size:10px;
    margin-top: 5px;
}

.my-card img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

/* About me Start */
.my-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  margin: auto;
  font-family: "Courier New", Courier, monospac;
  padding-top: 15%;
}

.card {
  /* Your card styles here */
  width: 300px; /* Adjust width as needed */
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  
}


.icons a {
  text-decoration: none;
  font-size: 33px;
  padding: 10px;
  color: #0096ff;
  display: inline-block;
  animation: float 5s ease-in-out infinite;
}
.icons a:nth-child(2) {
    animation-delay: 1s;
    color: blue;
}
.icons a:nth-child(3) {
    animation-delay: 2s;
    color: greenyellow;
}

.card-footer button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


.card-footer button:hover, a:hover {
  opacity: 0.7;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* close About me */
